
@{
    ViewBag.Title = "AJAXAntiforgery";
}

<h2>AJAXAntiforgery</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "_AJAXAntiforgeryForm" }))
{
    @Html.AntiForgeryToken();
}

    <button id="btnEnviar">
        Enviar
    </button>

    <script>
        $('#btnEnviar').click(function () {
            var form = $('#_AJAXAntiforgeryForm');
            var token = $('input[name = "_RequestVerificationToken"]', form).val();

            $.ajax({
                url: "/Home/AJAXAntiforgery",
                type: "POST",
                data: {
                    _RequestVerificationToken: token,
                    nombre: "Eduardo Gil"
                },
                success: function (resultado) {
                    alert(resultado.nombre);
                }
            });
            return false;
        });
    </script>


