
@{
    ViewBag.Title = "AJAXAntiforgery";
}

<h2>AJAXAntiforgery</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AJAXAntiforgeryForm" }))
{
    @Html.AntiForgeryToken();
}

<button id="btnEnviar">
    Enviar
</button>

@section Scripts {
    <script>
        $('#btnEnviar').click(function () {
            var form = $('#__AJAXAntiforgeryForm');
            var token = $('input[name = "__RequestVerificationToken"]', form).val();

            $.ajax({
                url: "/Home/AJAXAntiforgery",
                type: "POST",
                data: {
                    __RequestVerificationToken: token,
                    nombre: "Eduardo Gil"
                },
                success: function (resultado) {
                    alert(resultado.saludo);
                }
            });
            return false;
        });
    </script>
}



